<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Nicoeloy" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/louis-nicolas-eloy-55b8bb142/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Covicocktails
  </div>
</div>