.navbar-lewagon {
  display: flex;  
  background: #A2D0C1;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 30px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-wagon-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}