.navbar-lewagon {
  display: flex;  
  background: linear-gradient(#c77171, #6f79e9);
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 30px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar-wagon-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-name {
  color: white;
  font-size: 30px;
}