.navbar-lewagon {
  display: flex;  
  background: linear-gradient(#c77171, #6f79e9);
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 30px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar-wagon-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-name {
  color: white;
  font-size: 0px;
}

.navbar-wagon-search {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  position: relative;
}

.navbar-wagon-search-input {
  line-height: 40px;
  color: black;
  border: 1px solid #E6E6E6;
  border-radius: 25px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
  opacity: 0.7;font-weight: lighter;
}

.navbar-wagon-search-btn {
  line-height: 40px;
  color: black;
  border: none;
  background: transparent;
  position: absolute;
  right: 14px;
  top: -2px;
}
